<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Formulario</title>
</head>
<body>
    <div class="center-form">
        <div class="form-container">
            <p class="title">Registro de Usuario</p>
            <form class="form" method="post" action="/send/">
                {% csrf_token %}
                <div class="input-divider">
                    <input type="text" class="input-n" name="nombre_empleado" placeholder="Nombre">
                
                    <input type="text" class="input-l" name="apellido_empleado" placeholder="Apellido">
                </div>

                <div class="input-divider">
                    <input type="number" class="input-n" name="edad_empleado" placeholder="Edad">
                    &nbsp;&nbsp;

                    <input type="radio" id="masculino" name="genero_empleado" value="Masculino" />
                    &nbsp;&nbsp;
                    <label for="Masculino" class="male">Masculino</label>

                    <input type="radio" id="femenino" name="genero_empleado" value="Femenino" />
                    &nbsp;&nbsp;
                    <label for="Femenino" class="female">Femenino</label>

                </div>

                <input type="email" class="input" name="email_empleado" placeholder="Correo Electronico">
                <input type="number" class="input" name="salario_empleado" placeholder="Salario">
                <button class="form-btn">Agregar</button>
            </form>
            
            <div class="buttons-container">
                <div class="apple-login-button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-square" viewBox="0 0 16 16">
                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                        <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm12 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1v-1c0-1-1-4-6-4s-6 3-6 4v1a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1z"/>
                    </svg>
                    <span>Lista de Empleados</span>
                </div>
            </div>
        </div>
    </div>
</body>

</html>